body {
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
	max-width: 280px;
}

/* Carousel */
.carousel-caption {
	z-index: 10 !important;
}

	.carousel-caption p {
		font-size: 20px;
		line-height: 1.4;
	}

@media (max-width: 542px) {
	.navbar-toggleable-xs li {
		margin-left: 1rem;
		display: block;
		width: 100%;
	}
}
