@using System.Security.Claims

@if (User.IsSignedIn())
{
	<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="form-inline pull-xs-right">
		<a class="btn btn btn-outline-success" asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
		<button type="submit" class="btn btn btn-outline-warn">Log off</button>
	</form>
}
else
{
	<ul class="nav navbar-nav pull-xs-right">
		<li class="nav-item active"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
		<li class="nav-item active"><a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a></li>
	</ul>
}
